/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**

/*---------------DARK THEME----------------*/
@include mat-core();

// Define an  dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);
/*------------------------------------------*/

/*--------------------CHART CUSTOM STYLE-----------------------*/
.orgchart.myChart {
    background-image: linear-gradient(90deg, rgba(33, 90, 136, 0.15) 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(rgba(33, 90, 136, 0.15) 10%, rgba(0, 0, 0, 0) 10%)!important;
  }

.orgchart.myChart .oc-node .position {
  box-sizing: border-box;
  background-color: #215a88;
  color: #fff;
  width: 130px;
  height: 65px;
  padding: 2px;
  }
  
.orgchart.myChart .oc-node .fullname {
  box-sizing: border-box;
  color: #215a88;
  background-color:#fff;
  width: 130px;
  height: 65px;
  padding: 2px;
  border: 1px solid #215a88;
}

.orgchart.myChart > orgchart-node > .oc-node::after {
  background-color: rgba(33, 90, 136, 0.8) !important;
}

.orgchart.myChart .oc-group:not(:last-child)::before {
  border-color: rgba(33, 90, 136, 0.8)!important;
}

.orgchart.myChart .oc-group > orgchart-node::before {
  border-color: rgba(33, 90, 136, 0.8)!important;
}

.orgchart.myChart orgchart-node:not(:last-child)::after {
  border-color: rgba(33, 90, 136, 0.8)!important;
}

#oc-1 .fullname {
  color: blue;
}
/*-----------------------------------------------------------*/